<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>친구 찾기</title>
    <link rel="stylesheet" href="/css/home/find_friend.css">
</head>
<body>
    <div class="container">
        <h1 class="title">친구 찾기</h1>

        <div class="section">
            <h2>지역 선택</h2>
            <div class="button-group">
                <button class="select-btn">내 지역 주변</button>
                <button class="select-btn">전국</button>
            </div>
        </div>

        <div class="section">
            <h2>나이대 선택(복수 선택 가능)</h2>
            <div class="button-group">
                <button class="select-btn">60대</button>
                <button class="select-btn">70대</button>
                <button class="select-btn">80대</button>
                <button class="select-btn">90대</button>
                <button class="select-btn">100세 이상</button>
            </div>
        </div>

        <div class="section">
            <h2>취미 선택(복수 선택 가능)</h2>
            <div class="button-group">
                <button class="select-btn">낚시</button>
                <button class="select-btn">등산</button>
                <button class="select-btn">자전거</button>
                <button class="select-btn">수영</button>
                <button class="select-btn">미정</button>
            </div>
        </div>
        <div class="btn">
            <button type="button" class="find-btn" onclick="location.href='/find'">찾기</button>
            <button type="button" class="home-btn" onclick="location.href='/'">홈</button>
        </div>
    </div>
</body>
</html>