<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home/gallery.css">
  <title>개사고특별자치구:갤러리</title>
</head>
<body>
  <div class="header" style="position: relative; z-index: 2;">
    <h1><a href="/">GAESAGO</a></h1>
  </div>
  <div id="gallery" style="position: relative; z-index: 1;">
    <figure class="slider">
      <figure>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/hobbiton-lake.jpg">
        <figcaption>Hobbiton, New Zealand</figcaption>
      </figure>
      <figure>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/wanaka-drowned-tree.jpg">
        <figcaption>Wanaka, New Zealand</figcaption>
      </figure>
      <figure>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/utah-peak.jpg">
        <figcaption>Utah, United States</figcaption>
      </figure>
      <figure>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/bryce-canyon-utah.jpg">
        <figcaption>Bryce Canyon, Utah, United States</figcaption>
      </figure>
      <figure>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/hobbiton-lake.jpg">
        <figcaption>Hobbiton, New Zealand</figcaption>
      </figure>
    </figure>
  </div>
</body>
</html>