<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STELLIVE</title>
    <link rel="stylesheet" href="/css/home/style.css">
</head>
<body>
    <div class="container">
        <div class="left-section">
            <div class="logo">LOGO</div>
            <h1 class="title">STELLIVE</h1>
            <p class="subtitle">한국 최초 노인<br>커뮤니케이션 앱</p>
        </div>
        <div class="right-section">
            <a href="/find_friend" class="menu-button">친구 찾기</a>
            <a href="/friend_list" class="menu-button">친구 목록</a>
            <a href="/chat" class="menu-button">채팅</a>
            <a href="/community" class="menu-button">동호회</a>
            <a href="/NOT" class="menu-button">미정</a>
            <a href="/setting" class="menu-button">설정</a>
        </div>
    </div>
</body>
</html>
