<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/home/style.css" rel="stylesheet">
  <title>개사고특별자치구</title>
</head>
<body>
  <div class="logo">
    <img src="https://github.com/houar1223/gaesago/blob/master/app/views/home/images/GAESAGOTHEROCK.png?raw=true" 
    alt="개사고특별자치구 로고" width="600px" height="600px">
  </div>
  <div class="header">
    <h1><a href="/">GAESAGO</a></h1>
    <div class="nav">
      <ul>
        <li><a href="/login">SIGN IN</a></li>
        <li><a href="/register">SIGN UP</a></li>
        <li><a href="/gallery">GALLERY</a></li>
      </ul>
    </div>
  </div>
  <div class="box">
  </div>
</body>
</html>