<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STELLIVE</title>
    <link rel="stylesheet" href="/css/home/style.css">
</head>
<body>
    <div class="container">
        <div class="left-section">
            <div class="logo">LOGO</div>
            <h1 class="title">STELLIVE</h1>
            <p class="subtitle">한국 최초 노인<br>커뮤니케이션 앱</p>
        </div>
        <div class="right-section">
            <button class="menu-button"><a href="/find_friend">친구 찾기</a></button>
            <button class="menu-button"><a href="/friend_list">친구 목록</a></button>
            <button class="menu-button"><a href="/chat">채팅</a></button>
            <button class="menu-button"><a href="/community">동호회</a></button>
            <button class="menu-button"><a href="/NOT">미정</a></button>
            <button class="menu-button"><a href="/setting">설정</a></button>
        </div>
    </div>
</body>
</html>
